{% extends "todolist/base.html" %}
{% block content %}
<div class="container fluid">
<div class="card text-bg-light p-3 text-center">
    <table class="table table-success ">
        <thead>
            <th>Task</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            
{% for item in tasks%}
  <tr>  
<td>
    {% if item.Task_done == True %}
    <h3>{{item}} <h6>{Completed}</h6> </h3>
    {% else %}
    <h3>{{item}} <h6>{Not Completed}</h6></h3>
    {% endif %}
</td>
    <td>
    <a href="{% url "update_task" item.id %}" class="btn btn-primary">Update</a>
    </td>
    <td>
    <a href="{% url "delete_task" item.id %}" class="btn btn-primary">Delete</a>
    </td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}